networks:
  proxy:
    external: true

services:
  sftpgo:
    networks:
      - proxy
    labels:
      traefik.enable: "true"
      traefik.http.routers.sftpgo.rule: "Host(`drive.alterloop.dev`)"
      traefik.http.routers.sftpgo.entrypoints: "websecure"
      traefik.http.routers.sftpgo.tls.certresolver: "le"
      traefik.http.services.sftpgo.loadbalancer.server.port: "8080"
